<app-user-list-page
      [config]="config"
      [users]="managers"
      [loading]="loading"
      [totalCount]="totalCount"
      [getExtraFields]="getExtraFields"
      (userClicked)="voirDetail($event)"
      (addClicked)="ouvrirFormulaire()"
      (filterChanged)="onFilterChanged($event)">
</app-user-list-page>
<app-formulaire-utilisateur
  [isOpen]="isModalOpen"
  [selectedUtilisateur]="selectedUtilisateur"
  [roleFixe]="'MANAGER'"
  (closeFormulaire)="onFormulaireClose()">
</app-formulaire-utilisateur>
