
<app-user-list-header
  [config]="config"
  [totalCount]="totalCount"
  (addClicked)="ouvrirFormulaire()"
  (filterChanged)="onFilterChanged($event)">
</app-user-list-header>
<app-user-list-page
[class.hidden]="!afficherListe && totalCount > 5"
      [config]="config"
      [users]="apprenants"
      [loading]="loading"
      [totalCount]="totalCount"
      [getExtraFields]="getExtraFields"
      (userClicked)="voirDetail($event)"
      (addClicked)="ouvrirFormulaire()"
>
    </app-user-list-page>
<!--
    <app-formulaire-inscr-apprenant
  [isOpen]="isModalOpen"
  [sessionId]="selectedSessionId"
  [apprenantEmail]="selectedApprenantEmail"
  (closeFormulaire)="isModalOpen = false"
  (inscriptionCreee)="onInscriptionCreee($event)">
</app-formulaire-inscr-apprenant>
-->

    <app-formulaire-utilisateur
  [isOpen]="isModalOpen"
  [selectedUtilisateur]="selectedUtilisateur"
  [roleFixe]="'APPRENANT'"
  (closeFormulaire)="onFormulaireClose()">
</app-formulaire-utilisateur>


 