<div class="min-h-screen bg-gray-50 dark:bg-gray-900 flex flex-col">

  <!-- TOPBAR -->
  <header class="sticky top-0 z-50 w-full bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-800 shadow-sm overflow-visible">
    <div class="max-w-screen-2xl mx-auto px-4 md:px-6 flex items-center justify-between h-16 overflow-visible">

      <!-- Navigation centrale -->
      <app-nav-bar ngSkipHydration [links]="[
      {
        key: 'explorer',
        label: 'Explorer',
        children: [
          { label: 'Nouveauté',      routerLink: '/nouveaute' },
          { label: 'Contact',       href: '#contact' },
          { label: 'Calendrier',    href: '#calendrier' },
          { label: 'Offres Emplois',href: '#offres' }
        ]
      },
      {
        key: 'diplomes',
        label: 'Diplômes',
        href: '#diplomes'
      },
      {
        key: 'myLearning',
        label: 'My Learning',
        routerLink:'espace-apprenant/profilApprenant'
      }
      ]" [showLoginButton]="false"/>

      <!-- Droite : thème + notifs + profil -->
      <div class="flex items-center gap-2 relative z-[999]">
        <app-theme-toggle />
        <app-notification-dropdown />
        <app-user-dropdown />
      </div>

    </div>
  </header>

  <!-- CONTENU -->
  <main class="flex-1 w-full px-6 py-6">
    <router-outlet></router-outlet>
  </main>

</div>